.wrapper {
    display: flex;
    align-items: stretch;
    overflow: hidden;
    min-height: 100vh;

}

#sidebar {
    min-width: 200px;
    max-width: 420px;
    min-height: 100vh;
    max-height:300vh;
    overflow: hidden;
    padding: 20px;
     position:absolute;
   
}

#content {
    height: auto;
    min-height: 100vh;
    min-width: 85vw;
    max-width: 77.85vw;
    overflow: hidden;
    background-size: 100% 100%;
    overflow: auto;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: black;
}

